{% extends "base.html" %}
{% block title %}
Главная
{% endblock %}
{% block container %}
<h1>О компании</h1>

<h5>За годы работы дизайнерами компании Candle Agent были созданы разнообразные коллекции ароматизированных, свадебных, крупногабаритных, уличных свечей. Коллекции к разным праздникам (Новый год, День Святого Валентина, Пасха) обновляются каждый сезон.
</h5><br>
<h5>Стараясь отойти от поточного производства и тиражирования стандартных свечей, мы ориентируемся на создание эксклюзивных линий европейского качества.
</h5><br>
<h5>Сегодня на предприятии трудятся около 20 мастеров, среди которых профессиональные дизайнеры, архитекторы и художники. Большое внимание в нашей компании уделяется изготовлению свечей по индивидуальным требованиям заказчика. Каждый необычный заказ вызывает у нас искренний профессиональный интерес.
</h5><br>
<h5>За время работы мы накопили большой опыт в свечном производстве. Нами были адаптированы зарубежные технологии изготовления свечей, мастерами компании были созданы новые оригинальные технологии и дизайны свечей.
</h5><br>
<h5>Технология изготовления свечей — цветочных композиций, разработанная нашими мастерами, завоевала высшую награду на конкурсе новых свечных технологий в США в 1998 году. Многие виды свечей из нашего ассортимента созданы мастерами компании «Свечной Двор» и запатентованы.
</h5><br>
<h5>Методом проб и ошибок мы прокладывали себе путь к сердцам наших покупателей и сделали бизнес увлекательным, творческим и успешным!
</h5><br>
<a>{{ about_as }}</a>
{% endblock %}