{% extends "base.html" %}
{% block title %}
Главная
{% endblock %}
{% block container %}
<h1>Контакты для оформления заказа</h1>
<div class="">
            <ul class="list-group list-group-flush">
                    <li class="list-group-item" >
                        <a class="nav-link active" style="color: #8a3324" target="_blank"><h1 class="display-6" >Тел:  {{ contact_info }}</h1></a>
                    </li><br>
                    <li class="list-group-item">
                        <a class="nav-link" href="" style="color: #8a3324"><h1 class="display-6" target="_blank">Email: {{ contact_email }}</h1></a>
                    </li><br>
                    <li class="list-group-item">
                        <a class="nav-link" href="https://www.instagram.com/candle_agent/" style="color: #8a3324" target="_blank"><h1 class="display-6">Instagram: {{ contact_insta }}</h1></a>
                    </li><br>
                    <li class="list-group-item">
                        <a class="nav-link" href="https://web.telegram.org/#/login" style="color: #8a3324" target="_blank"><h1 class="display-6">Телеграмм: {{ contact_telega }}</h1></a>
                    </li>
            </ul>
</div>
{% endblock %}