{% extends "base.html" %}
{% block title %}
Создание свечки
{% endblock %}
{% block container %}
<h1>{{object.name}}</h1>
<img src="{{object.image.url}}" class="img-fluid" width="400px">

<form method="post">
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>
{% endblock %}