{% extends "base.html" %}
{% block title %}
Главная
{% endblock %}
{% block container %}
<h1>{{candls_Magaz}}</h1>
<ul class="list-group">
    {% for item in object_list%}
    <div class="shadow p-3 mb-4 bg-body rounded">
    <div class="d-flex position-relative">
        <img src="{{item.image.url}}" class="flex-shrink-0 me-3" alt="..." width="300">
        <div>
            <h5><a href="/candel/{{item.pk}}" class="mt-0" style="color: #8a3324">{{item.name}}</a></h5>
            <p>Цвет: <i>{{item.color.name }}</i></p>
            <p>Форма: <i>{{ item.body.name }}</i></p>

            <p>Ароматизатор: <i>{{ count_flaver }}</i></p>
            <a>Описание: <i>{{ item.card }}</i></a>
            <p>Цена: {{ item.candlprices }}
                <form action="{% url "cart:cart_add" item.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Добавить в корзину">
                </form>
            </p>
            {% if user.permissions >= 1 %}
                <a href="/update/{{item.pk}}" class="btn btn-primary">Изменить</a>
            {% endif %}
            {% if user.permissions >= 2 %}
                <a href="/delete_confirm/{{item.pk}}" class="btn btn-primary">Удалить</a>
            {% endif %}
        </div>
    </div>
    </div>
    {% endfor %}

    <hr>
    <form method="post">
        {% csrf_token %}
        {% if user.is_authenticated %}
        <a href="/create/" class="btn btn-primary">Создать</a>
        {% endif %}
    </form>
</ul>
<hr>
{% endblock %}