{% extends "base.html" %}
{% block title %}
Регистрация
{% endblock %}
{% block container %}


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <label for="id_username">Имя пользователя:</label>
        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
    </p>

    <p>
        <label for="id_password">Пароль:</label>
        <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
    </p>
    <button class="btn btn-primary" type="submit">Зарегистрироватся</button>
</form>
{% endblock %}