{% extends "base.html" %}
{% block title %}
Главная
{% endblock %}
{% block container %}
    <h1>Ваша Корзина</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Название продукта</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
            
        {% for item in cart %}
            <tr>
                <td>{{ item.0 }}</td>
                <td>${{ item.1.price }}</td>
                <td class="num">{{ item.1.quantity }}</td>
                <td>
                    <form action="{% url "cart:cart_remove" item.0 %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <input type="submit" value="Удалить">
                        </form>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <p><b>Итого: </b>{{ cart.get_total }}</p>
    <form action="{% url "cart:cart_clear" %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="Очистить корзину">
    </form>




    <p class="text-right">
        <a href="/" class="button">Checkout</a>
    </p>
{% endblock %}